/* Normalize for all Browsers Compatibility*/
:root {
  --blue: #0c66ff;
  --indigo: #6e00ff;
  --purple: #510fa8;
  --pink: #f074ad;
  --red: #f25767;
  --orange: #ffbe3d;
  --yellow: #ffc431;
  --green: #5cc9a7;
  --teal: #50b5ff;
  --cyan: #4bd6e5;
  --white: #fff;
  --gray: #c0ccda;
  --gray-dark: #3c4858;
  --primary: #0c66ff;
  --secondary: #8492a6;
  --success: #5cc9a7;
  --info: #50b5ff;
  --warning: #ffbe3d;
  --danger: #f25767;
  --light: #2a3d53;
  --dark: #253649;
  --neutral: #273444;
  --white: #fff;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}
html {
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button {
  cursor: pointer;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit; 
  display: table; 
  max-width: 100%;
  padding: 0; 
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; 
  padding: 0; 
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

/* Mine*/
/* html {
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
} */

.main-nav {
  width: 100%;
  background-color: #0c65ffb7;
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4rem;
}
.main-nav a {
  color: whitesmoke !important;
  font-weight: bold;
}

.secondary-nav {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4rem;
}
.secondary-nav a {
  width: 20%;
}

/* button */
.secondary-nav a {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.secondary-nav a:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.secondary-nav a:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.secondary-nav a:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.home-header {
  min-height: 100vh;
  background-image: url(assets/img/header-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.home-header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 20%;
  position: absolute;
  top: 30%;
  left: 50%;
  color: black;
  font-size: 2.2rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

main {
  width: 60%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.project-container {
  font-size: 1.6rem;
  width: 75%;
  padding: 10px 20px;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.defs-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.defs-page h1 {
  text-align: center;
}
.def-container {
  margin-top: 2rem;
  border-radius: 12px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right bottom, #009ac0, #0083af, #006d9d, #00588a, #064375);
  padding: 17px;
}
.def-container h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.4rem;
}
.def-container p {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: rgb(248, 231, 231);
}
.defs-main {
  margin-top: 3rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.defs-main h2 {
  text-align: center;
  font-size: 2.4rem;
}
.details-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.details-container h3 {
  font-size: 1.8rem;
  text-align: center;
}
.details-container p, ul {
  margin-top: 1rem;
  font-size: 1.4rem;
}
.details-container p ul {
  margin-left: 2rem;
}
.details-container p ul li {
  list-style-type: circle;
}
.details-container ul li {
  list-style-type: upper-roman;
}
.details-container li {
  margin-top: 1rem;
}
.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.detail ul {
  width: 90%;
  margin: auto;
}
.detail img {
  width: 20%;
  margin-top: 1rem;
  border-radius: 15px;
}
.understand, .wanna-quizz {
  font-size: 1.7rem;
  text-align: center;
}
.wanna-quizz span a{
  color: #0c66ff;
  font-weight: bold;
  text-decoration: underline;
}

/* CREATE AND DEPLOY */
.create-deploy h2 {
  margin-top: 1rem;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.stack-use {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
}
.stack-use h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
.stack-use ul li {
  list-style-type: none;
  margin-top: .8rem;
}
.stack-use p {
  margin-top: 1rem;
  font-style: italic;
}
.stack-use a {
  text-decoration: underline;
}
.create-container, .deploy-container {
  width: 80%;
  margin: 2rem auto;
  background-color: #0c66ff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 12px #4bd6e5;
  color: whitesmoke;
  text-align: center;
}
.create-container h3, .deploy-container h3 {
  font-size: 1.6rem;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.create-container p, .deploy-container p {
  margin-top: 2rem;
  font-size: 1.4rem;
}
.code {
  margin-left: 2rem;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 12px;
  color: rgb(191, 199, 213);
  background-color: rgb(41, 45, 62);
  line-height: 4rem;
}

/* Quizz */
.quizz-container h1 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
}
.quizz-container h2 {
  text-align: center;
}
.rank-container {
  width: 60%;
  min-height: 30vh;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  border: 1mm solid var(--danger);
  background-color: var(--dark);
  border-radius: 14px;
}
.rank-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: .5rem;
  font-size: 1.6rem;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.rank-head h3 {
  width: 33%;
}
.rank-card {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: var(--teal);
  padding: 10px;
  border-radius: 7px;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}
.rank-card p {
  width: 33%;
}
.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
	font-family: Arial;
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 5px;
	border: 0px #c81414 solid;
	background: linear-gradient(180deg, #ff0000 5%, #c81414 100%);
	text-shadow: 1px 1px 1px #ffffff;
	box-shadow: 0px 10px 14px -7px #616174;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
}
.play:hover {
	background: linear-gradient(180deg, #c81414 5%, #ff0000 100%);
}
.play-icon {
	padding: 10px 10px;
	border-left: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) 1px 0px 0px inset;
}
.play-icon svg {
	vertical-align: middle;
	position: relative;
}
.play-text {
	padding: 10px 18px;
}
.hidden {
  display: none;
}
.container-show {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 18px;
}
.play-quizz {
  width: 80%;
  height: 60vh;
}
.question-container {
  padding-top: .5rem;
  width: 95%;
  margin: 1rem auto;
}
.question-container h3 {
  text-align: center;
  margin-top: 1rem !important;
  font-size: 1.8rem;
  color: red;
}
.asks {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}
.asks p {
  width: 34%;
  background-color: whitesmoke;
  padding: 10px;
  margin-top: 4rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 2px dashed var(--danger);
  cursor: pointer;
}